body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.content {
  text-align: center;
}

.tag {
  display: inline-block;
  font-size: 16px;
  margin: 10px 10px 20px 10px;
  background-image: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  -webkit-background-clip: text;
  color:transparent;
  cursor: pointer;
}

.image-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(462px, 1fr));
  grid-gap: .15px 0;
  grid-auto-rows: 5px;
}

.image-list img {
  margin: 0;
  padding: 0;
  width: 462px;
  cursor: pointer;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
}

.popup__background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: .9;
  z-index: -1;
}

.popup__close {
  font-size: 32px;
  cursor: pointer;
  position: fixed;
  top: 1%;
  right: 2%;
  color: white;
  z-index: 100;
}

.vertical-align {
  width: 100vw;
  height: 100vh;
}

.popup__content {
  position:absolute; 
  width:90vw; 
  height:90vh;
  top:0; 
  bottom:0; 
  left:0; 
  right:0; 
  margin:auto;
  z-index: 2;
}

.popup__left {
  display: inline;
  margin: 0;
  width: 67vw;
  height: 90vh;
  background-color: #111;
  float: left;
}

.popup__left:hover .popup__left-arrow-left {
  z-index: 10;
}

.popup__left:hover .popup__left-arrow-right {
  z-index: 10;
}

.popup__right {
  float: right;
  width: 23vw;
  height: 90vh;
  display: inline;
  margin: 0;
  background-color: white;
}

.popup__right-text {
  padding: 20px 0 0 10px;
  text-transform: uppercase;
  margin-right: 10px;
}

ion-icon {
  font-size: 36px;
  color: grey;
}

ion-icon pin {
  cursor: pointer;
  
}

ion-icon .arrow {
  color: grey;
}

.popup__left-arrow-left {
  position: absolute;
  top: 45%;
  left: 0;
  display: inline;
  float: left;
  z-index: -10;
  cursor: pointer;
}

.popup__left-arrow-right {
  position: absolute;
  top: 45%;
  left: 70%;
  display: inline;
  float: right;
  z-index: -10;
  cursor: pointer;
}